html, body{
    margin: 0;
    height: 100%;
}

/* من الخواص التي يجب تغيرها لكي تصل للمطلوب
    1. لون الخلفيه
    2. الطول والعرض
    3. الهوامش
    4. الحواشي
    5. نوع العرض
    6. border radius */

/* عند الحاجه w3schools قم بالاستعانه بموقع  */

.sidebar{
 /* pxالعرض هنا يجب ان يكون 120 */
 width: 120px;
 background-color: black;
 color: white;
 border-radius: 15px;
margin: 5px;
height: 673px;
}

.header{
    /* pxالطول هنا يجب ان يكون 80 */
    height: 20%;
    background-color: blue;
    border-radius: 15px;
margin: 5px;
}

.main{
background-color: aqua;
height: 80%;
border-radius: 15px;
margin: 5px;
}

a{
    color: darkgray;
    text-decoration: none;

    /* اجعل شكل اللنك من غير خط اسفل الكلام */
}

a:hover{
    color: white;
}
p{
    text-align: center;
}

/* !بــونص */
/* (hover) اجعل اللنك يتغير لونه الى الابيض عند التأشير عليه */
/* (p) غير محاذاة الفقرات لتصبح بالوسط */



h1{
    margin: 0;
    margin-right: 5px;
}

h2{
    margin: 0;
    margin-left: 5px;
}
.flexer{
    display: flex;
    height: 100%;
}
